/** "alternate-gothic-no-3-d" **/
html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #000;
	color: #FFFFFF;
	font-family: "alternate-gothic-no-3-d";
}

#container {
	height: 100%;
}

#container > div > div {
	color: #000;
	font-weight: bold;
}

#section1 {
	height: 100%;
}

#section1 > div > div {
	margin-top: 25px;
	background-color: transparent;
	color: transparent;
	border-radius: 0px;
}

#section1 > div.row > div > h1 {
	font-size: 7em;
	text-shadow: 0px 0px 4px #fbfaf1;
}

#section1 > div.row > div > p {
	font-size: 4em;
	text-shadow: 0px 0px 4px #fbfaf1;
}

#section1 > div > div {
	text-shadow: 1px 2px 30px #000000;
}

#section1 > div > div > h1 > div {
	display:inline-block;
	width: 60px;
	height: 60px;
	background: url('../img/w.png');
	background-size: cover;
}

@-webkit-keyframes blinker {from{opacity:1.0;}to{opacity:0.0;}}
@-moz-keyframes blinker {from{opacity:1.0;}to{opacity:0.0;}}
@keyframes blinker {from{opacity:1.0;}to{opacity:0.0;}}

.blink {
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	-webkit-animation-duration: .6s;
	-moz-animation-name: blinker;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	-moz-animation-duration: .6s;
	animation-name: blinker;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	animation-duration: .6s;
}


.edit {
	display: none;
	background-color: transparent;
	text-shadow: 0px 0px 4px #fbfaf1;
	border:0px;
}

.edit:focus {
	border: 1px solid pink;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}



















#section2 {
	min-height: 600px;
	background-color: #000;
	color: #FFFFFF;
}

#section2 > div.row {
	color: #FFFFFF;
	font-weight:normal;
	margin-left: 0px;
}

#section2 > div.row > div.info {
	font-size: 1.3em;
}

#rotation {
	margin-bottom: 75px;
}

#section2 a {
	color: pink;
}

#section2 a:hover {
	text-decoration: underline;
}


.colophon {
	position: fixed;
	margin: 0;	
	width: 100%;
	bottom: 0px;
	background-color: #000;
}

/** CONTROLS **/
body > div.row.colophon > div {
	padding: 2px;
}

.progress-bar {
	background: pink;
}

ul#controls {

	padding: 2px;
	margin-bottom: 2px;

}

#controls > li {
	list-style-type: none;
}

#controls > li {
	display: inline-block;
	font-weight: bold;
}

#controls > li.nowPlaying {
	color: #FFF;
	font-size: 2em;
	width: 100px;
	margin-right: 20px;
	line-height: .75em;
	vertical-align: middle;
}

#controls > li.trackInfo {
	vertical-align: bottom;
	color: #FFF;
}

#controls > li.trackInfo > a, #controls > li.trackInfo > a:hover {
	color: #FFF;
	text-decoration: none;
}

#controls > li.trackInfo > a > div > img {
	width: 50px;
	height: auto;
	display: inline-block;
	float: left;
}

#controls > li.trackInfo > a > div.media {
	height: 50px;
}

#controls > li.trackInfo > a > div > div.media-body {
	position: absolute;
	bottom: 5px;
	margin-left: 52px;
}

#controls > li.trackInfo > a > div > div > h1.media-heading {
	white-space: nowrap;
	/**width: 200px;**/
	overflow: hidden;
	text-overflow: ellipsis;
}

/** buttons **/
#playPause, #shuffle {
	border: 0px;
	padding: 15px;
	background-color: #FFFFFF;
	color: #000;
	width: 50px;
	font-weight: bold;
}

/** LINKS **/

ul#links {
	position: absolute;
	top: 2px;
	right: 2px;
	list-style: none;
	padding: 0px;
	text-align: right;
}

#links > li {
	list-style-type: none;
	display: inline-block;
	padding-left: 1px;
}

#soundcloud {
	display: inline-block;
	border: 0px;
	width: 43px;
	height: 43px;
	padding: 15px;
	background-repeat: no-repeat;
	background-size: 100%;
	background: url('../img/soundcloud.png');
}

#centbrains {
	background-size: cover;
}

a#centbrains{
	display: inline-block;
	border: 0px;
	width: 43px;
	height: 43px;
	background-repeat: no-repeat;
	background-size: 100%;
	background: url('../img/99centbrains.jpg');
}


/** iPhone **/
@media (max-width: 320px) {
	#container > div > div.jumbotron {
		margin-top: 0px;
		border: 0px;
	}

	#container > div > div > h1, #container > div > div > p{
		/**background-color: #000;**/
		text-shadow: 1px 2px 30px #000000;
	}

	#controls > li.trackInfo {
		margin-left: 0px;
		margin-top: 2px;
	}

	h1.media-heading {
		display: none;
	}

}
