body {
	font-family: "Arial", "Helvetica";
	background-image: url('bg.jpg');
	background-repeat: repeat;
	font-size: 12px;
	color: #000000;
	padding: 0;
	margin: 0;
}

a:link, a:visited {
	text-decoration: none;
}

#container {
	width: 762px;
	margin: 0 auto;
	top: 125px;
	position: relative;
	font-family: "Arial", "Helvetica";
}

header {
	font-family: 'Alfa Slab One', cursive;
	font-size: 2em;
	border-bottom: 10px solid #01A6BD;
	text-shadow: 5px 5px 1px #DDDCDC;
}

header h1 {
	margin: 0px;
}

header a:link, header a:visited, header a:hover {
	display:block;
	color: #000;
	text-decoration: none;
}
#content {
	font-size: 25px;
	font-family: 'Port Lligat Slab', serif;
	min-height: 50;
	margin: 20px 0;
}

.listenToGreeting {
	font-weight: bold;
	display: inline;
	padding: 10px;
	background-color: #000;
	color: #FFF;
	box-shadow: 5px 5px 1px #DDDCDC;
}


.username {
	font-weight: bold;
	display: inline;
	background-color: #FFF;
	padding: 10px;
	box-shadow: 5px 5px 1px #DDDCDC;
}

.username:hover {
	background-image: -webkit-linear-gradient(top, #F7F7F7 0%, white 100%);
}

.username a:link, .username a:visited {
	color: #000000;
	text-decoration: underline;
}

.music {
	min-height: 169px;
}

.music img {
	margin: auto;
	display: block;
	height: 100px;
}

nav {
	margin: 20px 0;
	font-family: 'Port Lligat Slab', serif;
}
nav ul {
	display: inline;
	font-size: 2 em;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
	margin: 0px;
	padding: 0;
}

nav li {
	display: inline;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	background: black;
	padding: 10px;
	box-shadow: 5px 5px 1px #DDDCDC;
}

nav li:hover {
	text-shadow: -1px -3px 2px #313238;
	background-image: -webkit-linear-gradient(top, #313238 0%, black 100%);
}

nav a, nav a:visited {
	color: #FFF;
	text-decoration: none;
}

select {
	background: transparent;
	padding: 5px;
	height: 34px;
	font-size: 16px;
	border: 1px solid #CCC;
}

form {
	display: inline;
	padding: 0px;
	margin: 0 0 0 280px;
	font-size: 16px;
}

form label {
	text-transform: uppercase;
	background-color: #000;
	color: #FFF;
	padding: 10px;
}

.dropDown {
	width: 240px;
	height: 34px;
	overflow: hidden;
	background: url('dropdownarrow.jpeg') no-repeat right #DDD;
}

.player img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top:-50px;
	margin-left:-50px;
}

footer {
	position: absolute;
	right: -48px;
	top: 222px;
	text-align: center;
	padding: 10px;
	background-color: #000;
	color: #FFF;
	font-size: 15px;
	transform-origin: 0% 0%;
	-webkit-transform: rotate(90deg);
	font-family: 'Port Lligat Slab', serif;
	
}

footer a:link, footer a:visited {
	color: #FF6798;
	font-family: 'Megrim', cursive;
	text-decoration: none;
}

#sharing {
	position: relative;
}
