body {
  background: transparent url('bg.jpg');
  font-size: 12px;
  color: #000000;
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: "Arial", "Helvetica";
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}

.content {
  border-top: 10px solid #FF7700;
}

nav ul {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 0;
  display: inline;
}

.music {
  padding: 12px 0;
}

.music img {
  display: block;
  margin: auto;
}
